<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Flag</th>
            <th>Name</th>
            <th>Population</th>
            <th>More Information</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of country; index as i" class="animate__animated animate__fadeIn animate__faster">
            <td>{{ i + 1}}</td>
            <td>
                <img [src]="c .flag" class="small-flag">
            </td>
            <td>{{ c.capital }}, {{ c.name }}</td>
            <td>{{ c.population | number: '2.' }}</td>
            <td>
                <a [routerLink]="['/country', c.alpha2Code]">See more..</a>
            </td>
        </tr>
    </tbody>
</table>